<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav  ml-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Listings</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" routerLink="/mylistings">My Listings</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Notification</a>
          </li> -->
          <!-- <li class="nav-item">

            <a *ngIf="!uname"  class="nav-link" routerLink="/login">Login</a>
            <a *ngIf="uname" class="nav-link"  >{{uname}}&nbsp; <button class="ss" (click)="logout()" > Logout</button></a>
          </li> -->
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
         
        </ul>
    
      </div>
    </div>
  </nav>

<div class="container">
    <div class="row">
        <div class="col-12 mt-5 text-center">
            <h2>Login to DreamHomes<br> </h2>
        </div>
    </div>
    <div class="row mt-3" >
        <div class="col-2"></div>
        <div class="col-8 d-flex justify-content-center" >
<form action="" [formGroup]="loginForm" (ngSubmit)="login()" >
    <table class="shadow mb-4 rounded " cellpadding="25" cellspacing="25" style= "width: 400px;">
        <tr>
            <td><input id="acno" type="text" class="form-control"  name="username" formControlName="username"  placeholder="Username" /></td>
        </tr>
        <!-- <tr> <div *ngIf="(loginForm.get('accno')?.touched || loginForm.get('accno')?.dirty) && loginForm.get('accno')?.errors" class="error">accno is invalid</div>
</tr> -->
        
        <tr>
            <td>
                <input id="pwd" type="password" class="form-control" name="pswd" formControlName="password" placeholder="Password"/>
            </td>
        </tr>
        <!-- <tr> <div *ngIf="(loginForm.get('pswd')?.touched || loginForm.get('pswd')?.dirty) && loginForm.get('pswd')?.errors" class="error">password is invalid</div>
        </tr>
         -->
        <tr >
            <td class="p-4"><input type="submit" class="form-control btn btn-primary pb-4 kk" style="font-size: 20px;font-weight: bold;"
                    value="Log In"  ></td>
        </tr>
        <tr >
            <td class="p-4"><a routerLink="/register"><button  class="form-control btn btn-primary pb-4" style="  font-size: 20px;font-weight: bold;"
                    name="Register"  >Register</button></a></td>
        </tr>
       
    </table>
</form>
</div>
<div class="c
ol-2"></div>
</div>
</div>

