<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav  ml-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Listings</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" routerLink="/mylistings">My Listings</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Notification</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/post"> Add Your Post</a>
          </li>
          <li class="nav-item">

            <a *ngIf="!uname"  class="nav-link" routerLink="/login">Login</a>
            <a *ngIf="uname" class="nav-link"  >{{uname}}&nbsp; <button class="ss" (click)="logout()" > Logout</button></a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
         
        </ul>
    
      </div>
    </div>
  </nav><div class="container">
    <div class="row">
        <div class="col-12 mt-5 text-center">
            <h4>My Listings<br> </h4>
        </div>
    </div>
    <div class="row mt-3" >
        <div class="col-2"></div>
        <div class="col-8 d-flex justify-content-center" >
<form action="" >
    <table class="table table-hover " cellpadding="25" cellspacing="25" style="background-color: white; width: 800px;">
       <thead>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Place</th>
            <th>Price</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr></thead>
        <tbody>
        <tr *ngFor= "let lists of list" >
            <td><img src="{{lists.photo_main}}" width="15px" height="20px"></td>
            <td>{{lists.title}}</td>
            <td>{{lists.city}}</td>
            <td>{{lists.price}}</td>
            <td><a routerLink="/listdet/{{lists.id}}"><input type="button" value="View"></a></td>
            <td>
                <a routerLink="/mylistings/{{lists.id}}">
                <input type="button" class="kk" value="Edit"></a></td>
            <td><input type="button" class="kk" value="Delete"(click)="dlt(lists.id)"></td>
        </tr>
    </tbody>
    </table>
</form>
</div>
