table{
     
    background-color: #33313B;

}
.nav-link {
    color: rgb(248, 227, 227) !important;
    }
.nav-item a {
    padding-right: 5.5rem;
    padding-left: 0.5rem;
}
.kk{
    background-color: #d70e1d;
    border: #d70e1d; 
}
.kk:hover{
    color: #d70e1d !important;
    background-color: white;
    border: #d70e1d;
}
.ss{
    padding-top: 10px;
    padding-bottom: 10px;
}