<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav  ml-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Listings</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" routerLink="/mylistings">My Listings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Notification</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/post"> Add Your Post</a>
          </li>
          <li class="nav-item">
  
            <a *ngIf="!uname"  class="nav-link" routerLink="/login">Login</a>
            <a *ngIf="uname" class="nav-link"  >{{uname}}&nbsp; <button class="ss" (click)="logout()" > Logout</button></a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
         
        </ul>
    
      </div>
    </div>
  </nav>
  
<div class="container">
    <div class="row">
        <div class="col-12 mt-5 text-center">
            <h4>Welcome to DreamHomes<br> </h4>
        </div>
    </div>
    <div class="row mt-3" >
        <div class="col-2"></div>
        <div class="col-8 d-flex justify-content-center" >
<form action="" [formGroup]="postForm" (ngSubmit)="posts()" >
    <table class="shadow mb-4 rounded " cellpadding="25" cellspacing="25" style=" width: 800px;">
       <tr>
           <div class="container">

           <div class="row">
               <h3 style="text-align: center;"class="ss">Create Your Post Now...</h3>
               <div class="col-12 ss">
                   <input type="text" class="form-control" placeholder="Title" name="title" formControlName="title">
               </div>
               <div class="col-6 ss">
                   <textarea row=5 class="form-control" placeholder="Addres" name="last_name" formControlName="address"></textarea>
               </div>
               <div class="col-6 ss"></div>
               <div class="col-6 ss"><input type="text" class="form-control" placeholder="City" name="city" formControlName="city"></div>
            <!-- <div class="col-8"><input type="password" class="form-control" placeholder="password"></div> -->
            <div class="col-6 ss"><input type="text" class="form-control" placeholder="state" name="state" formControlName="state"></div>
               <div class="col-6 ss" >
                   <input type="text" class="form-control" placeholder="Mob no" name="mobno" formControlName="mobno">
               </div>
               <div class="col-6 ss">
                <input type="text" class="form-control" placeholder="whtspno" name="whtspno" formControlName="whtspno">
            </div>
            <div class="col-6 ss">
                <textarea row=5 class="form-control" placeholder="Description" name="last_name" formControlName="description"></textarea>
            </div>
            <div class="col-6"></div>
           <div class="col-4 ss">
               <input type="text" class="form-control" placeholder="Price" name="price" formControlName="price">
           </div>
            
            <div class="col-4 ss">
                <input type="text" name="bedrooms" placeholder="bedrooms"class="form-control" id="" name="bedroom" formControlName="bedrooms">
            </div>
            <div class="col-4 ss">
                <input type="text" name="bathrooms" placeholder="bathroom" class="form-control" id="" name="bathroom" formControlName="bathrooms">
            </div>
            <div class="col-6 ss">
                <input type="text" name="sqft" class="form-control" placeholder="Square Feet" id="" name="sqft" formControlName="sqft">
            </div>
            

            <div class="col-4 ">
                <input type="file" class="" name="photo_main" (change)="fileup($event)"  formControlName="photo_main">
            </div>  
            <div class="col-8"></div>
            <div class="col-6 ss">
                   <button type="submit" class="form-control btn btn-primary kk">Submit</button>
               </div>
               <div class="col-6 ss">
                   <button class="form-control btn btn-primary kk"type="Reset">Reset</button></div>
           </div></div>
       </tr>
       
    </table>
</form>
</div>
<div class="c
ol-2"></div>
</div>
</div>

